<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit Menu</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- Header -->
<header>
    <h1>Goodbye! 👋😀</h1>
</header>

<!-- Menu Section -->
<section class="menu-section">
    <h2>☕️</h2>
    <p>Thank you for visiting Coffee AromaBlu. We hope to see you again soon!</p>
</section>

<!-- Footer -->
<footer>
    <p>☕️</p>
    <p>Copyright © 2024 Coffee AromaBlu. All rights reserved.</p>
</footer>
</body>
</html>